:root {
  --separation-xxs: 4px;
  --separation-xs: 8px;
  --separation-s: 12px;
  --separation-m: 16px;
  --separation-l: 24px;
  --separation-xl: 32px;
  --separation-xxl: 48px;

  --text-s: 12px;
  --text-m: 16px;

  --padding-button: 6px;
}
