/* INTRODUCTION */

.intro {
  display: flex;
  flex-direction: row;
  gap: var(--separation-xxl);
}

.intro-links {
  display: flex;
  flex-direction: row;

  gap: var(--separation-s);
  margin-top: auto;

  align-items: center;
}

.intro-name{
   /* padding-top: var(--separation-xl);*/
}

.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* PROJECTS */

.projects-container{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    gap:auto;
}


.projects-card, .projects-card > img{
    border-radius : 5px 5px 0 0;

}

.projects-card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(30, 30, 30);
    & p, h2{
        text-align: center;
    }
}

.projects-card-inner{
    padding: var(--separation-s);
    display: flex;
    flex-direction: column;
    flex:1;
}

.projects-cards-techs{
    margin-top: auto;
    display: flex;
    flex-direction: row;
}