/* INTRODUCTION */

.intro {
  display: flex;
  flex-direction: row;
  gap: var(--separation-xxl);
}

.intro-links {
  display: flex;
  flex-direction: row;

  gap: var(--separation-s);
  margin-top: auto;

  align-items: center;
}

.intro-img {
  width: 200px;
  height: 200px;
  -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
}

.intro-name {
  /* padding-top: var(--separation-xl);*/
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROJECTS */

.projects-container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  gap: auto;
}

.projects-card > img{
  width: 250px;
  height: 150px;
}

.projects-card,
.projects-card > img {
  border-radius: 5px 5px 0 0;
}

.projects-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.5s ease; /* Smooth animation over 0.5 seconds */

  background-color: rgb(30, 30, 30);
  & p,
  h2 {
    text-align: center;
  }

  &:hover {
    transform: scale(1.3); /* Scale the element to 1.5 times its size */
  }
}

.projects-card-inner {
  padding: var(--separation-s);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--separation-s);
}

.projects-cards-techs {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--separation-s);
}

.projects-cards-links {
  display: flex;
  justify-content: space-around;
}

/* SKILLS */
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.skill-left, .skill-right{
    min-height: 100px;
}
.skill-left {
  text-align: right;
  margin-right: var(--separation-m);
}

.skill-right {
  display: flex;
  flex-wrap: wrap;
  gap: var(--separation-s);
}

.skill-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.skill-languages{
    display: grid;
    grid-template-columns: 12ch 1fr;
    margin-top: 10px;
}