
/* Shared Code for all buttons*/
.button-primary,.button-outline,
.button-secondary,.button-tertiary {
    padding: var(--padding-button);
    border-radius: 5px;
    font-weight: bold;
    height: 35px;
}

/* Primary button, a darker color when hovered*/
.button-primary {
  background-color: var(--shade-300);
}
.button-primary:hover{
    background-color: var(--shade-100);
}

/* Outline button, same color as primary,
 same look as primary when hovered*/
.button-outline {
  padding: calc(var(--padding-button) - 2px);
  border: 2px solid var(--shade-300);
  color: var(--shade-300);
}
.button-outline:hover{
    background-color: var(--shade-300);
    color: white;
}

/* Secondary button, filled with darken background,
 lighter shade when hovered*/
.button-secondary {
    background-color: var(--accent-color-600);
    color: white;
}
.button-secondary:hover{
    background-color: var(--accent-color-700);
}
