.text-primary-color{
    color: var(--primary-color-500);
}
.text-accent-color{
    color: var(--accent-color-500);
}


.text-secondary-s{
    font-size:  var(--text-s);
    color: var(--dark-shade-700);
}

.text-secondary{
    color: var(--dark-shade-500);
}


.text-center{
    text-align: center;
}


